// Style wide settings
$color-text: #333;
$color-light: #888;
$color-heading: #101010;
$color-link: #17c;
$color-link-hover: #a53;
$link-border: 1px solid #ced2df;

$font-body: 'Open Sans', 'Helvetica Neue', sans-serif;
$font-heading: 'Open Sans Condensed', 'Arial Narrow', sans-serif;

$baseline: 24px;

 /* Solitan 2012 brändivärit ovat:
  *
  * Solita blue
  * #00b3b0
  *
  * Solita red
  * #ef4a8e
  *
  * Solita orange
  * #f57e22
  *
  * Solita green
  * #00a652
  * 
  * Solita light web orange
  * #f59c00
  *
  * Solita light web blue
  * #01bef5 */

$brandcolor: #00b3b0;
